h1{
    font-size: 36px;
    color: red;
    margin-top: 20px;
    margin-bottom: 10px;
}

ol{
    font-size: 20px;
    line-height: 1.5;
    color: Green ;
    margin-bottom: 15px;
}   

footer{
    font-size: 20px;
    color: rgb(54, 3, 54);
    margin-top: 20px;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: left;
}